.filter-breadcrumb-bar {
	.first {
		display: inline;
	}

	.search-breadcrumb-x {
		position: relative;
		top: -1px;
	}

	.filter-breadcrumb {
		display: inline-block;
		margin-right: 2px;
	}

	.board-breadcrumb {
		text-transform: capitalize;
	}

	.filter-breadcrumb:before {
		content: '\00BB';
		color: @color-foreground-muted;
		display: inline-block;
		position: relative;
		bottom: 1px;
	}

	.filter-results {
		display: inline-block;
		color: @color-foreground-muted;
	}

	.remove-query {
		background-image: url(/images/breadcrumb-x.png);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		display: inline-block;
		vertical-align: middle;
		height: 11px;
		width: 11px;
	}

	a {
		cursor: pointer;
	}
}

@media screen and (max-width: @small-viewport-max-width) {
	.filter-breadcrumb-bar {
		.filter-breadcrumb {
			display: block;
			background-color: @color-background-label;
			border: 1px solid #D8D8D8;
			border-radius: 5px;
			margin: 8px auto;
			padding: 4px;

			&:before {
				content: '';
			}

			a {
				font-size: 16px;
				margin: auto 8px;
				color: @color-foreground-muted;

				&.search-breadcrumb-x {
					margin: 0 0 1px 0;
				}
				.remove-query {
					background-image: url(/static/images/x-icon.png);
				}
			}
		}
	}
}
