.card-container {
	padding: 0;
}

.card {
	margin: 16px 16px 0 0;
	padding: 16px;
	background-color: @color-background-secondary;
}

@media (max-width: @small-viewport-max-width) {
	.details-view {
		.card {
			margin: 8px;
		}
	}
}
