.details-view {
	section {
		background-color: @color-background-secondary;

		&:first-child .link-group-header {
			margin-top: 6px;
		}
	}

	h1 {
		font-size: 24px;
		font-weight: bold;
		margin: 0;
		text-transform: none;
	}

	div.alert {
		position: fixed;
		top: 88px;
		width: 100%;
		z-index: 5;
	}

	header {
		text-transform: uppercase;
		font-size: 12px;
		font-weight: bold;
		color: @color-panel-title;
		margin-bottom: 12px;

		&.song-title {
			margin-bottom: 0;

			input {
				height: 30px;
				font-size: 30px;
				font-weight: bold;
				line-height: 50px;
				padding: 0;
				margin-bottom: 0;
				border: none;
				border-radius: 0;
				background-clip: padding-box;
			}
		}

		&.media-heading {
			margin: 0;
			padding: 0;
		}
	}

	footer {
		background: white;
		padding: 40px;
		margin-top: 6px;
	}

	.link-group-header {
		border-bottom: 1px solid @color-panel-border;
		position: relative;
		margin-top: 24px;

		span {
			position: absolute;
			top: -0.5em;
			padding-right: 6px;
			background-color: @color-background-secondary;
		}
	}

	label, .detail-label {
		font-weight: normal;
		color: @color-foreground-subtle;
		margin: 0;
	}

	.ref-tagger-references {
		.bible-references {
			overflow-wrap: break-word;
			line-height: 34px;
		}
		.label-default {
			background-color: transparent;
		}
		.label {
			&:first-child::before {
				margin-left: -4px;
				content: '';
			}

			&::before {
				color: black;
				margin-left: -4px;
				content: ';';
			}
		}
	}

	input[type="checkbox"].form-control {
		width: 24px;
		height: 24px;
	}
}

.details-view .card .row {
	line-height: 34px;
	margin-top: 4px;

	&.form-group {
		margin-bottom: 4px;
	}
}

.details-view .card.faithlife-reviews {
	padding: 0;
}

.details-description-placeholder {
	color: @color-foreground-subtle;
	font-style: italic;
}

.details-subheader {
	padding: 12px 16px 0 16px;
	color: @color-foreground-subtle;
	font-size: 12px;
}

.details-book-cover {
	text-align: center;
}

.details-author-image {
	width: 80px;
}

.field-suggestion-in-use {
	text-decoration: line-through;
	text-align: left;
}

.details-alt-titles {
	color: grey;
	margin: 14px 0 0 4px;
}

.btn.btn-link.add-title-btn {
	padding-left: 0;
}

.input-group-addon.input-group-close {
	background: none;
	border-color: @color-panel-border;
	padding: 5px 10px;
}

.input-group.collection-input-group {
	margin-bottom: 4px;
}
