.facet-list {
	section {
		margin-bottom: @thickness-normal;

		header {
			font-weight: bold;
			margin-bottom: 4px;
			text-transform: capitalize;
		}

		.facet-items {
			margin-left: 4px;
			margin-bottom: 0;
		}

		.facet-list-term-count {
			color: @color-foreground-muted;
			font-size: 11px;
		}

		.facet-list-more {
			line-height: 20px;
			margin-left : 4px;
			font-size: 13px;
		}

		.facet-new-btn {
			float: right;
			padding: 0;
			border: none;
		}
	}

	.no-filters-message {
		color: @color-foreground-muted;
		text-align: center;
	}

	li:not(.default-board) + li.default-board {
		border-top: 1px solid @color-foreground-faded;
		margin-top: 4px;
		padding-top: 4px;
	}
}
