.icon-btn {
	//compensate for space used by inline SVG
	padding-top: 10px;
	border: none;
	background-color: transparent;
	width: 33.33%;
	border: 0;
	text-align: center;
	color: @color-foreground-subtle;
	padding-bottom: 2px;
}

@favorite-button-inactive: #C6C6C6;
@favorite-button-active: #D46D37;

.icon-btn-favorite {
	border-right: 1px solid fade(@color-panel-border, 80%);

	svg.button-icon path {
		.transition(fill 500ms);
	}

	&:not(.active):hover svg.button-icon path {
		.animation(pulse 1000ms linear infinite alternate);
	}

	&.active:hover svg.button-icon path {
		.animation(pulse 1000ms linear infinite alternate-reverse);
	}

	&.active svg.button-icon path {
		fill: @favorite-button-active;
	}
}

.icon-btn-text {
	padding-top: 5px;
}
