.search-help {
	@search-help-find-width: 500px;
	overflow-y: auto;

	.card {
		margin: @thickness-normal;
		padding: @thickness-normal;
		background-color: white;
		.box-shadow(@shadow-main);
	}

	dl {
		margin-top: inherit;
	}

	dt {
		font-size: 120%;
		font-weight: bold;
	}

	dd {
		margin-top: @thickness-smaller;
		margin-bottom: 1em;
		margin-left: 40px;
		line-height: 18px;
	}

	code {
		background: @color-background-primary;
		padding: 1px 4px;
	}
}
