.link-preview {
	display: block;
	margin-bottom: 8px;

	.media-object {
		max-height: 200px;
	}
}

.link-hostname {
	color: @color-foreground-subtle;
	font-size: 12px;
}

@media (max-width: @small-viewport-max-width) {
	.link-preview {
		.media-heading {
			font-size: 14px;
			margin-bottom: 0;
		}
		.media-object {
			max-width: 100%;
		}
	}
}
