.nav-bar {
	margin-top: 40px;
	.main-toolbar {
		background: @color-background-secondary;
		border-bottom: 1px solid @color-foreground-faded;
		height: @site-header-height;

		.primary-controls {
			padding: 13px 0;
			display: inline-block;

			.filters-menu {
				position: relative;
				margin: 0 @thickness-small 0 0;
				line-height: 22px;
			}
		}

		.subheader-container {
			display: inline-block;
			float: right;

			.subheader {
				padding: 15px 0;
				margin: 0 @thickness-normal;

				select {
					margin-right: 3px;
				}
			}
		}
	}
}

.home-icon {
	margin-left: 10px;
	height: 30px;
	width: 160px;
	display: inline-block;

	img {
		height: 30px;
		width: 160px;
	}

	&:hover {
		color: black;
		text-decoration: none;
	}
}

.refine-menu-container {
	display: block;
	position: fixed;
	top: 86px;
	left: 0;
	padding: 12px 12px 86px 12px;
	margin: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: @color-background-primary;
	text-align: left;
	overflow: auto;
}

@media (max-width: @small-viewport-max-width) {
	.nav-bar {
		.main-toolbar {
			height: auto;
			width: 100%;

			.primary-controls {
				width: 100%;
				padding: 4px 0;
				display: block;

				hr {
					margin: 4px 0;
					background-color: @color-panel-border;
				}
			}
		}

		.filter-results {
			color: @color-foreground-subtle;
			padding: 10px 0;
			position: absolute;
			right: 0;
		}

		.logo.home-icon {
			display: block;
			margin: 4px auto;
		}
	}
}

