.ratings-control {
	display: inline-block;
}

.star-ratings {
	@star-image-width: 14px;
	@star-image-height: 14px;

	display: inline;

	ul {
		margin: 0;
		padding: 0;
		display: inline;

		&:not(.readonly) {
			&:hover button {
				background-position-y: @star-image-height !important;
			}

			li:hover ~ li button {
				background-position-y: 0 !important;
			}
		}
	}

	li {
		display: inline;
		list-style: none;
		line-height:0;
		padding-right: 5px;

		&.has-rating {
			button {
				background-position-y: 0;
			}

			&.has-rating-highlight {
				button {
					background-position-y: @star-image-height;
				}
			}
		}
	}

	button {
		@star-image-button-width: 15px;

		border: none;
		//allows IE to display no-rating rating stars
		padding: 0 0 0 1px;
		width: @star-image-button-width;
		height: @star-image-height;
		display: inline-block;
		position: relative;
		top: 3px;
		background-image: url(/static/images/amber-icons_star-ratings.svg), url(/static/images/amber-icons_star-ratings.svg);
		background-position: 0 2 * @star-image-height, 0 0;
		background-size: @star-image-button-width 3 * @star-image-height;
		background-clip: content-box, border-box;
		background-color: transparent;
		border-right-style: solid;
		border-right-color: transparent;
		border-right-width: @star-image-button-width;
	}
}
