.ref-tagger-references {
	.bible-references {
		overflow-wrap: break-word;
	}
	span {
		font-size: 13px;
		padding: 0;
		font-weight: normal;
		margin-right: 3px;
		white-space: normal;

		&:last-child::after {
			content: '';
		}

		&::after {
			color: black;
			content: ';';
		}
	}
}
