.search-result {
	margin-top: 4px;
}

.search-result .book-icon {
	vertical-align: middle;
}

.search-results {
	list-style: none;
}

.search-form {
	position: relative;
	margin: 0 0 0 @thickness-small;
	display: inline-block;
	vertical-align: middle;
	width: 400px;

	@icon-size: 12px;
	@input-height: 28px;
	@icon-padding: (@input-height - @icon-size) / 2;
	@input-padding: 6px;

	input::-ms-clear {
		display: none;
	}

	.search-bar {
		padding: 0 0 0 6px;
		.appearance(none);
	}

	.btn-clear-search {
		position: absolute;
		right: 8px;
		top: 11px;

		div {
			height: @icon-size;
			width: @icon-size;
			background-image: url(/images/search-icon.gif);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			display: inline-block;
			vertical-align: middle;
			&.has-text {
				cursor: pointer;
				background-image: url(/images/x-icon.png);
			}
		}
	}
}

@media (max-width: @small-viewport-max-width) {
	.search-form {
		margin: 0 0 0 4px;
		width: 100%;
		display: inline-flex;

		.search-bar {
			flex-basis: 85%;
			padding: 0 0 0 6px;
			position: relative;

			input {
				position: absolute;
			}
		}

		.refine-button {
			vertical-align: top;
			flex-basis: 15%;
			margin-left: 4px;
			text-align: center;

			.btn-link:hover, .btn-link:focus {
				text-decoration: none;
			}

			&.active {
				background-color: @color-background-label;
			}

			button {
				padding-left: 8px;
			}
		}
	}
}
