.selection-details {
	span {
		color: @color-foreground-subtle;
		margin: 0;
		padding: 2px 0;
		font-weight: normal;
	}

	article > ul > li:first-child {
		margin-top: 0;
	}

	article > ul > li {
		margin: 4px 0;
	}

	p {
		padding: 0 0 0 8px;
		margin: 0;
	}

	.ratings-control-container {
		color: @color-foreground-muted;
		font-size: 11px;
	}

	.link-preview {
		margin-bottom: 4px;

		p {
			padding-left: 0;
		}

		.media-heading {
			font-size: 14px;
			margin-bottom: 0;
		}

		.mobile-view-sm {
			display: block;
		}
		.desktop-view-sm {
			display: none;
		}

		.media-object {
			max-height: auto;
			max-width: 100%;
		}
	}
}
