.share-menu {
	margin-top: 12px;
	text-align: left;

	.share-url, .share-url:focus {
		background: #FFF;	// Override input[readonly] transparent background
		width: 100%;
		padding: 3px 6px;
		border: 1px solid #dddddd !important;
	}
}

.share-label {
	font-weight: normal;
	color: @color-foreground-muted;
}

.share-menu-mail-link {
	padding-top: @thickness-smaller;
	text-align: right;
}

.expires-toggle {
	vertical-align: bottom;
}
