.tags .label {
	display: inline-block;
	padding: 1px 5px 1px 5px;
	margin: 4px 0 3px 5px;
	min-height: 16px;
	line-height: 16px;
	font-size: 13px;
	border: none;
	background-color: @color-background-label;
	font-weight: normal;
}
