h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

:focus, a:focus, .btn:focus {
	outline: none !important;
}

.is-working-indicator-container {
	position: relative;
	margin: 0 auto;
	width: 122px;
	height: 240px;

	.is-working-indicator {
		display: block;
		position: relative;
		clear: both;
		padding: 120px 0;
	}
}

.is-working-indicator-container-sm {
	position: relative;
	margin: 0 auto;
	width: 50px;
	height: 50px;

	.is-working-indicator {
		display: block;
		position: relative;
		clear: both;
		padding: 0;
	}
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	margin: 0;
	.appearance(none);
}

button.close {
	background: transparent;
	border: none;
	font-size: 16pt;
	color: @color-foreground-subtle;
	.transition(~"0.1s color");

	&:hover {
		color: @color-foreground-muted;
	}

	&[disabled] {
		color: @color-foreground-subtle;
		cursor: default;
	}
}

.avatar-img {
	width: 40px;
	height: 40px;
	margin: 0 12px 0 0;
}

.panel {
	padding: @thickness-normal;
	margin-bottom: @thickness-normal;
	background-color: white;
	overflow: hidden;
	.box-shadow(@shadow-main);

	&.panel-wide {
		padding: 0;
	}

	&.biblio-image-container {
		text-align: center;
	}

	header {
		font-family: @font-family-header;
		font-size: 13px;
		font-weight: bold;
		color: @color-panel-title;
		line-height: normal;
		text-transform: uppercase;
		margin: @metadata-entry-spacing;
		cursor: default;
	}

	> header {
		margin-top: 0;
	}

	> header:last-child {
		margin-bottom: 0;
	}

	h4 {
		margin-bottom: 4px;
	}
}

.no-results-warning {
	text-align: center;
}

ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		line-height: 20px;
	}
}

input:not([type="checkbox"]), textarea, select {
	display: inline-block;
	border-radius: 3px;
	border: 1px solid @color-foreground-faded;
	padding: 3px 6px;
	.box-sizing(border-box);
}

select {
	padding: 3px;
}

.input-block-level {
	width: 100%;
}

textarea {
	resize: none;
}

ul.inline li {
	display: inline;
}

.tag-input {
	width: 100%;

	.select2-choices {
		border: 1px solid @color-foreground-faded !important;
		border-radius: 3px;
		background-image: none;
	}
}

.btn-link-inline {
	display: inline;
	margin: 0;
	padding: 0;
	border: none;
	background: transparent;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

.btn-more-metadata {
	margin: 4px 0 0 0;
}

.item-list {
	li + li:before {
		content: '\2022';
		padding: 0 0.5em;
		color: @color-foreground-muted;
	}
}

.radio-list {
	display: inline-block;

	input {
		display: none;
	}

	label {
		margin-right: 0.4em;
		cursor: pointer;
		color: @color-foreground-muted;

		&.active {
			color: @color-foreground-primary;
			font-weight: bold;
			cursor: default;
		}

		& + label:before {
			content: '\2022';
			margin-right: 0.4em;
			color: @color-foreground-muted;
			font-weight: normal;
		}
	}

	&.readonly label {
		cursor: default;
	}
}

[secret-link], [secret-link]:hover, [secret-link]:visited, [secret-link]:active {
	color: inherit;
	font: inherit;
	text-decoration: inherit;
	cursor: inherit;
	margin: inherit;
	padding: inherit;
}

.location-editor {
	input {
		width: 100%;
	}

	img {
		margin-top: @thickness-small;
	}
}

.faithlife-comments {
	display: block;
	line-height: 0;
}

.note {
	color: @color-foreground-subtle;
	vertical-align: top;
	font-size: 80%;
}

.fade {
	&.ng-enter, &.ng-leave {
		.transition(opacity linear 0.2s);
	}

	&.ng-enter, &.ng-leave.ng-leave-active {
		opacity: 0;
	}

	&.ng-leave, &.ng-enter.ng-enter-active {
		opacity: 1;
	}
}

.error-indicator {
	color: red;
	float: right;
	display: inline-block;
	margin: 15px;
	line-height: 29px;
	font-weight: bold;
}

fieldset.checkbox {
	position: relative;
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 0;
	padding: 0;
	background: @color-foreground-primary;
	border: 0;

	input {
		visibility: hidden;
	}

	label {
		position: absolute;
		left: 3px;
		top: 3px;
		width: 18px;
		height: 18px;
		min-height: 12px;
		padding-left: 0;
		cursor: pointer;
		background: #ffffff;
	}

	label:after {
		content: '';
		position: absolute;
		top: -2px;
		left: 5px;
		width: 9px;
		height: 18px;
		background: transparent;
		border: 3px solid @color-foreground-primary;
		border-top: none;
		border-left: none;
		.opacity(0);
		.rotate(45deg);
	}

	label:hover::after {
		.opacity(0.3);
	}

	input[type=checkbox]:checked + label:after {
		.opacity(1);
	}
}

.btn-dropdown {
	&, &:hover, &:active, &:focus {
		border: 1px solid;
		border-radius: 50%;
		display: block;
		width: 14px;
		height: 14px;
		line-height: 0;
		font-size: 8px;
		text-decoration: none;
	}

	&:after {
		display: block;
		position: relative;
		top: 1px;
		content: '▼'
	}
}

.control-label {
	color: @color-foreground-subtle;
}
