*, *:after, *:before {
	.box-sizing(border-box)
}

html {
	background: @color-background-primary;

	body {
		background: transparent;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		line-height: normal;
		color: black;
		margin: 0;
	}
}

.ad-widget {
	margin: 16px 16px 0 0;
	text-align: center;
}

.hidden {
	display: none;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;

	&[drag-drop-drop-target] {
		position: static;
	}
}

.loading-message {
	text-align: center;
	position: relative;
	top: 50%;
	margin-top: -10px;
	font-size: 20px;
	color: @color-foreground-muted;
	letter-spacing: 1px;
}

a, .btn-link, .btn-link-inline {
	color: @color-foreground-primary;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

button {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

input {
	.box-sizing(content-box);
}

textarea {
	resize: none;
}

input:not([type]), input[type="text"], input[type="password"], textarea {
	.appearance(none);
	.box-shadow(none);
}

input[readonly], input[readonly]:focus, textarea[readonly],
input[disabled], input[disabled]:focus, textarea[disabled],
.select2-container.select2-container-disabled .select2-choices,
.select2-container.select2-container-disabled .select2-choice,
.select2-container.select2-container-disabled .select2-choice .select2-arrow {
	outline: none;
	border-color: transparent !important;
	cursor: text;
	.appearance(none);
	.box-shadow(none);
}

#logos-family-bar {
	.family-menu-bucket-option {
		cursor: pointer;

		&.active:after {
			padding-left: 10px;
			content: '\2713';
		}
	}
}

.family-bar-container {
	height: @family-bar-height;
}


.breadcrumb {
	display: inline-block;
	padding: 0;
	margin: @thickness-smaller 0 @thickness-smaller @thickness-large;
	background: transparent;
}

.container-fixed {
	width: @page-min-width;
	margin: 0 auto;

	.column-left {
		width: @fixed-layout-column-large-width;
		float: left;
	}

	.column-right {
		width: @fixed-layout-column-small-width;
		float: left;
		margin-left: @thickness-normal;
	}
}

@left-sidebar-width: 200px;
.list-container-show-sidebar {
	.main-view {
		right: @left-sidebar-width;
	}
}

.main-view {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.list-container {
	.cms-banner {
		top: 0;

		li {
			display: inline-block;
			margin: 20px 0 10px 40px;

			img {
				max-width: 260px;
			}
		}
	}

	.main-view {
		left: @left-sidebar-width;
		background-color: @color-background-secondary;

		hr {
			margin: @thickness-normal 0;
			border-bottom: 1px solid @color-foreground-faded;
		}

		&.sidebar-left {
			width: @left-sidebar-width;
			right: auto;
			left: 0;
			padding: @thickness-small;
			border-right: 1px solid @color-foreground-faded;
			background-color: @color-background-primary;
		}

		&.sidebar-right {
			width: @left-sidebar-width;
			right: 0;
			left: auto;
			padding: @thickness-small 0 0 @thickness-small;
			border-left: 1px solid @color-foreground-faded;
			background-color: @color-background-secondary;

			.icon-btn-small {
				display: inline-block;
				border: 0;
				padding: 0;
				margin-left: 12px;
				float: right;
				width: 18px;
				height: 18px;
				background-repeat: no-repeat;
				background-size: contain;
				background-color: transparent;

				svg {
					width: 100%;
					height: 100%;
				}
			}

			.editor-heading-favorite-container {
				width: 100%;
				display: inline-block;
			}

			header.editor-heading {
				font-size: 16px;
				font-weight: bold;
				padding-bottom: @thickness-smaller;
				float: left;
			}

			.bulk-operations-container {
				text-align: right;
			}
		}
	}
}

.router-view {
	position: absolute;
	top: 100px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

.mobile-view-sm {
	display: none !important;
}

.mobile-view {
	display: none !important;
}

@media (max-width: @medium-viewport-max-width) {
	.desktop-view {
		display: none !important;
	}
	.mobile-view {
		display: block !important;
	}
}

@media (max-width: @small-viewport-max-width) {
	.details-view .details-subheader {
		padding: 0 12px;
	}
	.hide-submenu .router-view {
		top: 100px;
	}

	.router-view {
		margin-top: -1px;
	}

	.desktop-view-sm {
		display: none !important;
	}
	.mobile-view-sm {
		display: block !important;
	}

	.family-bar-container {
		display: none;
	}

	.list-container .cms-banner li {
		margin: 10px 0 5px 10px;

		img {
			max-width: 160px;
			max-height: 77px;
		}
	}

	.list-container .main-view.sidebar-right {
		width: 0;
		padding: 0;
	}
	.list-container-show-sidebar .main-view {
		right: 0;
	}
	.list-container .main-view.sidebar-left {
		left: 0;
		width: 100%;
		background-color: @color-background-secondary;

		.list-sidebar-section.help {
			display: none;
		}

		li {
			font-size: 1.35em;
		}

		li, button {
			margin-top: 4px;
		}
	}
	.list-container .main-view {
		left: 0;
	}
}
