.no-search-results {
	padding: 12px;
	color: @color-foreground-muted;
}

.list-controls {
	display: inline-block;
	float: right;

	select {
		height: 30px;
	}

	.view-selector {
		margin-bottom: 0;
	}

	.list-controls-svg-container {
		width: 16px;
		height: 16px;
		margin: 0 auto;
	}

	svg.button-icon {
		path, rect {
			fill: @color-foreground-faded;
		}
	}

	.active svg.button-icon {
		path, rect {
			fill: @color-foreground-primary;
		}
	}

	.btn {
		height: 29px;
		width: 32px;
		padding: 0;
		background-color: white;
		border: 1px @color-button-disabled solid;

		&.active {
			background-color: @color-button-disabled;
			z-index: 1;
			.box-shadow(none);
		}
	}
}

.song-list-sort-dropdown {
	display: inline-block;
	margin-right: @thickness-smaller;
	width: 190px;
}

.selection-details .share-url-label {
	color: @color-foreground-subtle;
	padding: 2px 0;
}

.selection-feedback-message {
	padding-bottom: @thickness-smaller;
}

.list-top-bar {
	margin: @thickness-small;
}

.selection-preview-button path {
	fill: @color-button-action;
}

.main-list {
	margin: @thickness-small 0 0 @thickness-small;
}

.tile-hover() {
	z-index: 1;
	.opacity(1);
}

.inner-border(@border-width, @border-color) {
	position: relative;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		.box-shadow(~"inset 0 0 0 @{border-width} @{border-color}");
	}
}

.song-list {
	@tile-outline-width: 10px;
	@tile-hover-outline-width: 4px;
	@song-action-size: 32px;
	@animation-duration-size: 64px;

	.user-select(none);

	.song {
		position: relative;
		float: left;
		clear: none;
		margin: 0 @thickness-smaller @thickness-smaller 0;

		.song-action {
			position: absolute;
			right: 0;
			width: @song-action-size;
			height: @song-action-size;
			margin: 0;
			background-color: @color-selection-border;
			background-position: 8px 8px;
			background-repeat: no-repeat;
			.opacity(0);
			.background-size(16px, 16px);
		}

		.view-details-link {
			bottom: 0;
			background-image: url('/images/details-icon@2x.png');
		}

		.preview-link {
			bottom: @song-action-size;
			background-image: url('/images/arrow.svg');
		}

		.song-thumbnail-wrapper {
			position: relative;
			float: left;

			.song-thumbnail-wrapper {
				float: left;
			}
		}

		.animation-indicator {
			margin: -@animation-duration-size / 2;
			position: absolute;
			top: 50%;
			right: 50%;
			height: @animation-duration-size;
			width: @animation-duration-size;
			background-image: url('/images/animation-indicator@2x.png');
			background-repeat: no-repeat;
			pointer-events: none;
			.background-size(100%, 100%);
			.opacity(0.3);
			.transition(~"opacity 0.2s");
		}

		&:hover {
			.song-action {
				.tile-hover();
			}

			.song-thumbnail-wrapper {
				.inner-border(@tile-hover-outline-width, @color-selection-border);
			}

			.animation-indicator {
				.opacity(0);
			}
		}

		&.song-list-selected .song-thumbnail-wrapper {
			.inner-border(@tile-outline-width, @color-selection-border);
		}

		.song-selection-checkbox {
			position: absolute;
			top: 0;
			right: 0;
			.opacity(0);
		}
	}
}

.media-heading {
	color: black;
	font-size: 18px;
	line-height: 18px;
}

.media-body a:hover {
	text-decoration: none;
}

.load-more-container {
	text-align: center;
	clear: both;
	padding: @thickness-larger 0;
}

.table-view {
	@color-hover-background: fade(@color-selection-border, 10%);
	@color-selection-background: fade(@color-selection-border, 20%);
	font-size: 13px;
	width: 100%;
	border-collapse: collapse;

	.song {
		float: none;

		&:hover {
			background-color: @color-hover-background;
		}

		&.song-list-selected {
			background-color: @color-selection-background;
		}
	}

	tr {
		border-bottom: 1px solid @color-foreground-faded;
	}

	th {
		text-align: left;
		padding-right: @thickness-small;
		text-transform: capitalize;
	}

	td {
		padding-right: @thickness-small;
	}

	.table-header {
		.title-header {
			padding-left: 12px;
		}

		.action-header {
			visibility: hidden;
			max-width: 0;
		}
	}

	.action-data {
		width: 86px;
		min-width: 86px;

		.song-action {
			position: static;
			display: inline-block;
			float: left;
			margin-right: 4px;
		}
	}

	.table-data {
		height: 48px;

		.title-data {
			padding-left: 12px;
			width: 100%;
			max-width: 200px;

			.title-link {
				word-wrap: break-word;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}

		.authors-data, .themes-data, .date-data {
			max-width: 200px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.kind-data {
			text-transform: capitalize;

			.type {
				color: @color-foreground-muted;
			}
		}
	}
}

@media screen and (max-width: @small-viewport-max-width) {
	.table-view {
		.publisher-header, .publisher-data {
			display: none;
		}
	}
}
