@import "lib/lesshat";
@import "lib/bootstrap-misc";
@import "variables";
@import "mixins";
@import "list";
@import "layout";
@import "components";
@import "components/navbar";
@import "components/facet";
@import "components/details";
@import "components/cards";
@import "components/breadcrumb";
@import "components/about";
@import "components/search";
@import "components/links";
@import "components/shareMenu";
@import "components/favoriteButton";
@import "components/tags";
@import "components/refTagger";
@import "components/selectionDetails";
@import "components/ratingsControl";
@import "components/help";

.home {
	padding: 0 20px;
}

div.au-stagger {
	-webkit-animation-delay:50ms;
	animation-delay:50ms;
}
.search-result.au-enter {
	opacity: 0!important;
}

.search-result.au-enter-active {
	-webkit-animation: fadeIn 2s;
	animation: fadeIn 2s;
}

.splash .fa-spinner {
	text-align: center;
	display: inline-block;
	font-size: 72px;
	margin-top: 50px;
}

.sign-in-link-container {
	position: absolute;
	top: 0;
	right: 0;

	.sign-in-link {
		padding: 3px 10px 2px 10px;
		color: white;

		&:hover {
			color: white;
			background: #6A6B6B;
		}
	}
}

.spinner {
	height: 40px;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
