@color-background-primary: #F1F1F1;
@color-background-secondary: #FFFFFF;
@color-background-label: #EEEEEE;
@color-background-transparent-modal: rgba(0,0,0,0.3);
@color-foreground-primary: #006BB4;
@color-foreground-secondary: #FF6500;
@color-foreground-tertiary: #98CB32;
@color-foreground-subtle: #999;
@color-foreground-muted: #666;
@color-foreground-faded: #DDDDDD;
@color-panel-border: #D8D8D8;
@color-panel-title: #555555;
@color-foreground-error: #D00202;

@color-button-action: #006BB4;
@color-button-action-hover: #0063A8;
@color-button-disabled: #DDDDDD;
@color-button-delete: #D90000;
@color-button-delete-hover: #D00202;
@color-selection-border: @color-foreground-primary;

@secondary-font-size: 11px;

@list-view-tile-size: 113px;

@color-shadow-main: fade(black, 20%);
@shadow-main-spread-size: 3px;
@shadow-main: ~"0 1px @{shadow-main-spread-size} @{color-shadow-main}";

@bootstrap-h2-font-size: 31.5px;
@bootstrap-h2-line-height: 40px;

@text-input-height: 28px;
@metadata-entry-spacing: 6px 0 12px 0;

@thickness-larger: 30px;
@thickness-large: 20px;
@thickness-normal: 16px;
@thickness-small: 12px;
@thickness-smaller: 8px;

@fixed-layout-column-large-width: 624px;
@fixed-layout-column-small-width: 316px;

@page-min-width: @fixed-layout-column-large-width + @thickness-normal + @fixed-layout-column-small-width;

@family-bar-height: 28px;
@site-header-height: 60px;
@site-header-height-mobile: 98px;
@total-header-height: @family-bar-height + @site-header-height;

@logo-width: 111px;
@search-bar-width: 250px;

@button-height: 26px;
@button-width: 100px;

@small-viewport-max-width: 767px;
@medium-viewport-max-width: 992px;

@logo-left-margin: @thickness-large;
@search-form-margin: @thickness-small;

@font-family-header: 'Arial Bold', Arial, Helvetica, sans-serif;
